<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>掲示板</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

<div class="container">

<h1>掲示板</h1>

{% if session.user_id %}
<div style="position:absolute; top:10px; right:10px;">
    <span>ログイン中: {{ session.username }}</span>
        <a href="/logout" class="btn-logout">ログアウト</a>
</div>
{% else %}
<a href="/login">ログイン</a>
<a href="/register">新規登録</a>
{% endif %}

<div class="card">
{% if error %}
<p style="color:red; margin-bottom: 10px;">{{ error }}</p>
{% endif %}
<form action="/post" method="post">
    <!-- <input name="name" placeholder="名前" required> -->
    <textarea name="message" placeholder="メッセージ" maxlength="300" required></textarea>
    <button class="btn-post">投稿</button>
</form>
</div>

<h2>投稿一覧</h2>

<div class="card">
{% for post in posts %}

    <div class="post">
    
        <!-- 投稿本文 -->
        <div class="post-content">
            <strong>{{ post[5] }}</strong>
            <span class="time">{{ post[3] or '' }}</span><br>
            {{post[2]}}
        </div>

        <div class="post-actions">
            <!-- いいね -->
            <form action="/like/{{ post[0] }}" method="post" class="like-action">
                {% if post[6] %}
                    <button class="btn-like active">👍 {{ post[4] }}</button>
                {% else %}
                    <button class="btn-like">👍 {{ post[4] }}</button>
                {% endif %}
            </form>

            {% if session['user_id'] == post[1] %}
            <div class="post-controls">
                <!-- 編集ボタン -->
                <a href="/edit/{{ post[0] }}" class="btn-edit">編集</a>

                <!-- 削除ボタン -->
                <form action="/delete/{{ post[0] }}" method="post">
                    <button class="btn-delete" onclick="return confirm('本当に削除しますか？')">削除</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

</div>
</body>
</html>