<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新規登録</title>
</head>
<body>

<h2>新規登録</h2>

<!-- error -->
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post"  action="/register">
    <input name="username" placeholder="ユーザー名" required>
    <input name="password" type="password" placeholder="パスワード" required>
    <button type="submit">登録</button>
</form>
<br>
<!-- ログインに戻るボタン -->
<a href="/login">
    <button type="button">ログインに戻る</button>
</a>
</body>
</html>